{{ form_start(form) }}
{{ form_label(form.competence) }}
<div class="row d-flex align-items-center">

	<div class="col">
		{# <input type="text" class="form-control" placeholder="First name"> #}
		{{ form_widget(form.competence) }}
	</div>
	<div class="col row">
		{# Couleur: #}
		
		<div class="">
			{# <input type="text" class="form-control" placeholder="Last name"> #}
			<section class="container">
				<div type="text" class="pickr" style="background-color:{{ competence.color }}!important">
				<input type="hidden" class="hiddencolor" name="hiddencolor">
				{% if competence %}
				<input type="hidden" value="{{ competence.color }}" class="hiddencoloredit" name="hiddencoloredit">
				{% endif %}
				
				
				</div>
			</section>
		</div>
	</div>
	
</div>


<br>
<button class="btn btn-success btn-xs">{{ button_label|default('Enregistrer') }}</button>
<a class="btn btn-outline-secondary" href="{{ path('competence_index') }}">Retour à la liste</a>

{{ form_end(form) }}
