{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <button class="btn btn-success btn-xs">{{ button_label|default('Enregistrer') }}</button>
        <a class="btn btn-outline-secondary" href="{{ path('competence_index') }}">Retour à la liste</a>

{{ form_end(form) }}
