{% extends 'base.html.twig' %}

{% block title %}Liste des recruteurs
{% endblock %}


{% block body %}
	<h1>Liste des recruteurs</h1>
	<a href="{{ path('recruteur_new') }}">
		<button class="btn btn-outline-success btn-xs">
			<i class="fas fa-plus"></i>
			Nouveau recruteur</button>
	</a>
	<table class="table table-striped table-index">
		<thead class="thead-dark">
			<tr>
				<th>
					<i class="fas fa-id-card"></i>
					Nom
				</th>
				<th>
					<i class="fas fa-id-card"></i>
					Prenom</th>
				<th>
					<i class="fas fa-chart-line"></i>
					Années d'experience</th>
				<th>
					<i class="fas fa-toolbox"></i>
					Competences</th>
				<th>
					<i class="fas fa-calendar-alt"></i>
					Disponibilités</th>
				<th>
					<i class="fas fa-edit"></i>
					actions</th>
			</tr>
		</thead>
		<tbody>
			{% for recruteur in recruteurs %}
				<tr>
					<td>{{ recruteur.nom }}</td>
					<td>{{ recruteur.prenom }}</td>
					<td style="text-align: center;">
						{% if recruteur.profil %}
							{{ recruteur.profil.nbAnneesExp }}
						{% endif %}
					</td>
					<td>
						{% if recruteur.profil.competence %}
							{% for competence in recruteur.profil.competence %}
								<button class="no-click" style="background-color:{{ competence.color }} !important;">
									{{ competence.competence }}
								</button>
							{% endfor %}
						{% endif %}
					</td>

					<td>
						{% if recruteur.disponibilites %}
							<select class="form-select" name="" id="">
								{% for disponibilite in recruteur.disponibilites %}
									<option value="{{ disponibilite.dateDispo | date('d-m-Y') }}">{{ disponibilite.dateDispo | date('d-m-Y') }}</option>
								{% endfor %}
							</select>
						{% endif %}
						{% if recruteur.disponibilites %}
							<input class="form-control" type="date" id="start" name="trip-start" list="malist">
							<datalist id="malist">
							{% for disponibilite in recruteur.disponibilites %}
								<option value="{{ disponibilite.dateDispo | date('d-m-Y') }}">{{ disponibilite.dateDispo | date('d-m-Y') }}</option>
								{% endfor %}
							</datalist>
							{% endif %}
						</td>
					</td>
					<td>
						<a href="{{ path('recruteur_show', {'id': recruteur.id}) }}">
							<button class="btn btn-success btn-xs">
								<i class="fas fa-search"></i>
							</button>
						</a>
						<a href="{{ path('recruteur_edit', {'id': recruteur.id}) }}">
							<button class="btn btn-primary btn-xs">
								<i class="fas fa-edit"></i>
							</button>
						</a>
						<a href="{{ path('recruteur_dispo_new', {'id': recruteur.id}) }}">
							<button class="btn btn-secondary btn-xs">
								<i class="fas fa-calendar-plus"></i>
							</i>
						</button>
					</td>
				</tr>
			</a>
		</tbody>
	</td>
</tr>{% else %}
<tr>
	<td colspan="4">Liste vide!</td>
</tr>{% endfor %}</tbody></table>{% endblock %}
