{% extends 'base.html.twig' %}

{% block title %}New Recruteur{% endblock %}

{% block body %}
    <h1>Ajouter une disponibilité</h1>
Candidat:
    <input class="form-control" value="{{ recruteur.nom }} {{ recruteur.prenom }}" disabled="disabled">
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <br>
 <input class="btn btn-success btn-xs" type="submit" value="{{ button_label|default('Enregistrer') }}">
<a class="btn btn-outline-secondary" href="{{ path('recruteur_index') }}">Retour à la liste</a>
{{ form_end(form) }}

   
{% endblock %}
