{% extends 'base.html.twig' %}

{% block title %}New Recruteur{% endblock %}
{% block stylesheets %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">






<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">






		{% endblock %}
{% block body %}
    <h1>Calendrier</h1>


{# <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Calendar #09</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-4 text-center">
					<h3 class="h5">Calendar Datepicker</h3>
					<div class="w-100">
            <form action="" method="post" class="datepickers">
              <div class="form-group">
                <!-- <label class="label-control" for="id_start_datetime">Datetime picker</label> -->
                <div class="input-group date" id="id_0">
                  <input type="text" value="" class="form-control" placeholder="MM/DD/YYYY hh:mm:ss" required/>
                </div>
              </div>
            </form>
					</div>
				</div>
			</div>
		</div>
	</section> #}





        {# {{ dump(data) }}
        {{ data }} #}
 
{#     
Candidat:
    <input class="form-control" value="{{ recruteur.nom }} {{ recruteur.prenom }}" disabled="disabled">
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <br>
 <input class="btn btn-success btn-xs" type="submit" value="{{ button_label|default('Enregistrer') }}">
<a class="btn btn-outline-secondary" href="{{ path('recruteur_index') }}">Retour à la liste</a>
{{ form_end(form) }} #}
{# {{ data.recruteur.nom|raw }} #}
<br>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Une nouvelle disponibilité</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ include('calendar/_form.html.twig') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">{{ button_label|default('Upload') }}</button>
        
      </div>
    </div>
  </div>
</div>


<input class="btn btn-success btn-xs" data-bs-toggle="modal" data-bs-target="#exampleModal" type="submit" value="Ajouter une disponibilité">
<br>
<br>
<div id="calendrier">
</div>

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js" integrity="sha256-ekrJn2FeZaiUFq99QswpQCUTME/HxaDfX7R8INzKJGE=" crossorigin="anonymous"></script>
<script>
    window.onload = () => {
        let calendatElement= document.querySelector("#calendrier")

        let calendar = new FullCalendar.Calendar(calendatElement, {
            initialView: 'dayGridMonth',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'    
            },
            buttonText:{
                today:    'Aujourd\'hui',
                month:    'Mois',
                week:     'Semaine',
                day:      'Jour',
            },
            // customButtons: {
            //     myCustomButton: {
            //     text: 'Ajouter une disponibilité',
            //     click: function() {
            //         alert('clicked the custom button!');
                   
            //     }
            //     }
            // },
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'    
            },
            events: {{ data.data|raw }},
            editable: true,
            eventResizableFromStart: true,
        })

        calendar.on('eventChange', (e)=>{
            // console.log(e)
            let url = `/api/calendar/${e.event.id}/edit`
            let donnees={
                "title": e.event.title,
                "description": e.event.extendedProps.description,
                "start": e.event.start,
                "end": e.event.end,
                "backgroundColor": e.event.backgroundColor,
                "textColor": e.event.textColor,
                "borderColor": e.event.borderColor,
                "allDay": e.event.allDay,

            }
            console.log(donnees)
            let xhr = new XMLHttpRequest

            xhr.open("PUT",url)
            xhr.send(JSON.stringify(donnees))

        })

        calendar.render()
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
  <script>
  $(function () {
    $('#datetimepicker1').datetimepicker();
 });
</script>
{% endblock %}

{% endblock %}
