{% extends 'base.html.twig' %}

{% block title %}Liste des candidats{% endblock %}

{% block body %}
{% for message in app.flashes('pasDeDisponibilite') %}
        <div class="alert alert-success col-md-6 mx-auto text-center">
            {{message}}
        </div>
    {% endfor  %}
    <h1>Liste des candidats</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Années d'experience</th>
                <th>Competences</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.nom }}</td>
                <td>{{ candidat.prenom }}</td>
                <td>{% if candidat.profil %}{{ candidat.profil.nbAnneesExp }}{% endif %}</td>
                <td>
                {% if candidat.profil.competence %}
                {% for competence in candidat.profil.competence %}
                {{ competence.competence }}
                {% endfor %}
                {% endif %}</td>
                <td>
                    <a href="{{ path('candidat_show', {'id': candidat.id}) }}">Voir</a>
                    <a href="{{ path('candidat_edit', {'id': candidat.id}) }}">Modifier</a>
                    <a href="{{ path('entretien_new', {'id': candidat.id}) }}">Entretien</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Liste vide!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidat_new') }}">Ajouter</a>
{% endblock %}
