{{ form_start(form) }}
    {{ form_widget(form) }}
    
    <div class="mt-4">
        <input class="btn btn-success btn-xs" type="submit" value="{{ button_label|default('Enregistrer') }}">
    <a class="btn btn-outline-secondary" href="{{ path('salle_index') }}">Retour à la liste</a>
    </div>
{{ form_end(form) }}
